/* Hero section */
.hero {
    text-align: center;
    margin-top: 10rem;
}

.hero__title {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.04em;
    max-width: 25ch;
    margin-inline: auto;
}

.hero__description {
    font-size: 1.2rem;
    max-width: 65ch;
    margin: 2rem auto;
}

/* Hero media queries  */
@media (max-width: 891px) {
    .hero__title {
        font-size: 3rem;
    }

    .hero__description {
        font-size: 1rem;
        margin: 1.5rem auto;
    }
}

@media (max-width: 713px) {
    .hero {
        margin-top: 5rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__description {
        font-size: 0.9rem;
        margin: 1rem auto;
    }

    .hero__btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 495px) {
    .hero__title {
        font-size: 2rem;
    }
}

@media (max-width: 396px) {
    .hero__title {
        font-size: 1.6rem;
    }
}
